/* Seção Objetivos */

* {
  box-sizing: border-box;
  max-width: 100%;
}


html, body {
  overflow-x: hidden !important;
  width: 100%;
}

.objetivos {
  padding: 80px 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
}
 
.objetivos h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: 900;
}
 
.objetivo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 40px;
  background: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}
 
.objetivo-row.show {
  opacity: 1;
  transform: translateY(0);
}
 
.objetivo-row img {
  width: 50%;
  object-fit: cover;
}
 
.objetivo-content {
  width: 50%;
  padding: 30px;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
 
.objetivo-row.show .objetivo-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
 
.objetivo-content h3 {
  color: #000;
  margin-bottom: 15px;
  font-size: 2.5rem;
  transition: color 0.3s;
}
 
.objetivo-content h3:hover { color: #e60000; }
 
.objetivo-content p {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.6;
}
 
.reverse { flex-direction: row-reverse; }



/* Seção */


.cards-links {
  background: #f5f5f5;
  padding: 80px 8%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}

/* CARD principal */
.card {
  position: relative;
  width: 230px;
  height: 320px;
  background: #330606; /* vinho */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s ease;
}

.card-text {
  position: relative;
  z-index: 3;
color: #fff;
}

/* Antes e Depois — efeitos */
.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 22%;
  height: 22%;
  background-color: #5A1313; /* vermelho */
  transition: all 0.5s;
  z-index: 1;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 18px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 18px;
  color: #fff;
}

/* HOVER */
.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.card:hover {
  transform: translateY(-8px);
}

/* Texto aparece no hover */
.card:hover .card-text {
  opacity: 1;
}

/* Remove underline dos links */
.card-link {
  color: inherit;
}




.criador { 
   position: relative;
  width: 190px;
  height: 254px;
  background-image: url('/imagens/criadorum.jpg');
  background-size: cover;     /* faz a imagem preencher totalmente */
  background-position: center; /* centraliza a imagem dentro do card */
  background-repeat: no-repeat; /* evita repetição */
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.criador::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #f70c0c 0%, #791717 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.criador::after {
    content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f70c0c 0%, #791717 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}


/* Hover */
.criador:hover::after {
  filter: blur(30px);
}

.criador:hover::before {
 transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* Seção branca com card + texto */
.criador-section {
  background: linear-gradient(to bottom right, #330606 30%, #A30404);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 60px 5%;
  position: relative; /* importante */
  z-index: 1;
  width: 100%;
  height: 600px;
}

/* Bloco de texto */
.criador-texto {
  max-width: 420px;
}

.criador-texto h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #fff;
}

.titulo-criador {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  pointer-events: none; /* garante que não interfira no card */
}

.criador-texto p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}

.criadordois { 
   position: relative;
  width: 190px;
  height: 254px;
  background-image: url('/imagens/criadordois.jpg');
  background-size: cover;     /* faz a imagem preencher totalmente */
  background-position: center; /* centraliza a imagem dentro do card */
  background-repeat: no-repeat; /* evita repetição */
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.criadordois::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #f70c0c 0%, #791717 100%);
   z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.criadordois::after {
    content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f70c0c 0%, #791717 100%);
   transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}


/* Hover */
.criadordois:hover::after {
  filter: blur(30px);
}

.criadordois:hover::before {
 transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


