/* FOOTER */

footer {
  background: #F1F0EE;
  color: #000;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #ddd;
  font-size: 0.95rem;
}
 
footer a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}